<?php
return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'phpdoc_align' => false,
        'phpdoc_summary' => false,
        'concat_space' => ['spacing' => 'one'],
        'no_multiline_whitespace_before_semicolons' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_short_echo_tag' => true,
        'pre_increment' => false,
        'yoda_style' => false,
        'blank_line_before_statement' => ['statements' => ['break', 'continue', 'declare', 'return', 'throw', 'try']],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('bin')
            ->exclude('coverage')
            ->exclude('vendor')
            ->in(__DIR__)
    )
    ;
